<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>agregar_producto_Servlet</servlet-name>
        <servlet-class>controller.agregar_producto_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editar_producto_Servlet</servlet-name>
        <servlet-class>controller.editar_producto_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregar_usuario_Servlet</servlet-name>
        <servlet-class>controller.agregar_usuario_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editar_usuario_Servlet</servlet-name>
        <servlet-class>controller.editar_usuario_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar_producto_Servlet</servlet-name>
        <servlet-class>controller.eliminar_producto_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar_usuario_Servlet</servlet-name>
        <servlet-class>controller.eliminar_usuario_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrito_compras_Servlet</servlet-name>
        <servlet-class>controller.carrito_compras_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrito_eliminar_Servlet</servlet-name>
        <servlet-class>controller.carrito_eliminar_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generar_venta_Servlet</servlet-name>
        <servlet-class>controller.generar_venta_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar_sesion_Servlet</servlet-name>
        <servlet-class>controller.cerrar_sesion_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>limpiar_carrito_Servlet</servlet-name>
        <servlet-class>controller.limpiar_carrito_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregar_categoria_Servlet</servlet-name>
        <servlet-class>controller.agregar_categoria_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agregar_producto_Servlet</servlet-name>
        <url-pattern>/agregar_producto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editar_producto_Servlet</servlet-name>
        <url-pattern>/editar_producto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregar_usuario_Servlet</servlet-name>
        <url-pattern>/agregar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editar_usuario_Servlet</servlet-name>
        <url-pattern>/editar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar_producto_Servlet</servlet-name>
        <url-pattern>/eliminar_producto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar_usuario_Servlet</servlet-name>
        <url-pattern>/eliminar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrito_compras_Servlet</servlet-name>
        <url-pattern>/carrito_compras.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrito_eliminar_Servlet</servlet-name>
        <url-pattern>/carrito_eliminar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generar_venta_Servlet</servlet-name>
        <url-pattern>/generar_venta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar_sesion_Servlet</servlet-name>
        <url-pattern>/cerrar_sesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>limpiar_carrito_Servlet</servlet-name>
        <url-pattern>/limpiar_carrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregar_categoria_Servlet</servlet-name>
        <url-pattern>/agregar_categoria.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
